* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #7c5744;
    font-family: 'Josefin Sans', sans-serif;
  
}

header {
    background-color: #e5e0dd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    position: sticky;
    left: 1%;
}

/* img {   
    padding: 0;
    margin: 0;
    width: 10vw;
    height: 20vh;
    
} */

.logo {
    cursor: pointer;
}

a:hover {
    color: #613a24;
}

.navBar li{
    display: inline;
    padding: 0px 20px;
    list-style: none;
}