* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #7c5744;
}

header {
    background-color: #e5e0dd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    position: sticky;
    left: 1%;
}

/* img {   
    padding: 0;
    margin: 0;
    width: 10vw;
    height: 20vh;
    
} */

.logo {
    cursor: pointer;
}

a:hover {
    color: #613a24;
}

.navBar li {
    display: inline;
    padding: 0px 20px;
    list-style: none;
}

/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #e5e0dd;
    color: #e5e0dd;
    text-align: center;
}

#conteudo-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 8vh);
}

#conteudo-pricipal-footer {
    grid-column: span 2;
    grid-row: span 2
}

#trabalhe-conosco {
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
}

#onde-estamos {
    grid-column: 8 / span 2;
    grid-row: 2 / span 2;
}

#fale-conosco {
    grid-column: 10 / span 2;
    grid-row: 2 / span 2;
}

#nossas-redes {
    font-weight: bold;
    display: grid;
    align-items: end;
    justify-content: center;
    grid-column: 8 / span 2;
    grid-row: 5;
}

#redes-sociais {
    display: grid;
    grid-column: 6 / span 6;
    grid-row: 6 / span 2;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-auto-flow: column;
}

#img-rede-social {
    height: 36px;
}
#img-rede-social:hover {
    opacity: 0.5;
}

#div-logo {
    display: grid;
    grid-column: span 4;
    grid-row: 2 / span 6;
    justify-content: center;
    align-items: center;
}

img {
    min-height: 80%;
    max-height: 100%;
}